img
{
    height: 500px;
    width:450px;
}
body
{
    background-color: black;
}
h1
{  background:radial-gradient(circle,yellow,red,pink,blue,orange,black,white,brown);
   animation: nvn 2s 1s infinite forwards linear;
   color:ghostwhite;
   text-align: center;
   border-radius: 45px;
   
}
@keyframes nvn {
    0%{
        filter: hue-rotate(0deg);
    }
    25%{
        filter: hue-rotate(90deg);
    }
    50%{
        filter: hue-rotate(180deg);
    }
    75%{
        filter: hue-rotate(270deg);
    }
    100%{
        filter: hue-rotate(360deg);
    }
}